{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('hyvaksy_muutokset', tehtava_id=tehtava.id) }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name( placeholder = tehtava.name) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.done.label }}
      </td>
      <td>
        {{ form.done }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.importance.label }}
      </td>
      <td>
        {{ form.importance( placeholder = tehtava.importance) }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Tallenna muutokset" />
        <input type="button" value="Takaisin" onclick="history.back()">
      </td>
    </tr>
</form>
{% endblock %}
