{% extends "layout.html" %}

{% block body %}
<h1>Tervetuloa, uusi tulokas taikka vanha käyttäjä!</h1>



<table sty>
  <tr>
    <td>
      <b>Uusi käyttäjä:</b>
    </td>
    <td>
      &nbsp &nbsp
    </td>
    <td>
      Voit rekisteröityä sovellukseen oikeasta yläkulmasta painamalla "Rekisteröidy" nappia.
       <br> Vanhat käyttäjät voivat suoraan kirjautua sisään.
    </td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>
      <b>Listaa tehtävät:</b>
    </td>
    <td>
    </td>
    <td>
      Täältä näet listan tehtävistäsi, mihin kategoriaan ne kuuluvat ja ovatko ne suoritettu. Lisäksi voit muokata tehtäviäsi täällä.
    </td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>
      <b>Lisää tehtävä:</b>
    </td>
    <td></td>
    <td>
      Täällä voit luoda tehtäviä. Muista kuitenkin tehdä ensin kategorioita tehtävillesi, jos olet ensikertalainen!
    </td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>
      <b>Listaa kategoriat:</b>
    </td>
    <td></td>
    <td>
      Täällä näet kaikki kategoriasi. Lisäksi näet kategorioiden sisältä mitkä tehtävät niihin kuuluvat.
    </td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>
      <b>Lisää kategoria:</b>
    </td>
    <td></td>
    <td>
      Täällä voit luoda itsellesi kategorioita.
    </td>
  </tr>
</table>


{% endblock %}
