{% extends "layout.html" %}

 {% block body %}
  <form method="POST" action="{{ url_for('categories_create') }}">
    <table>
      <tr>
      	<td>
	       {{ form.name.label }}
	      </td>
	      <td>
	       {{ form.name }}
	      </td>
        	<td>
	         <ul>
	         {% for error in form.name.errors %}
	         <li>{{ error }}</li>
	         {% endfor %}
	         </ul>
	        </td>
      </tr>
    <tr>
	   <td colspan="3">
	   <input type="submit" value="Lisää uusi kategoria"/>
	   </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>Tehdyt kategoriat</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
    </tr>
    {% endfor %}
  </table>
  </form>
  {% endblock %}
